body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 8px;
}

/* Layout Principal */
#container {
    display: grid;
    grid-template-columns: 3fr 2fr; /* Bar chart ocupa 2 partes, box plots ocupam 3 */
    grid-template-rows: 1fr;
    gap: 20px;
    height: calc(100vh - 150px); /* Altura da tela menos header e footer */
    width: 100%;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

h3 {
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
}

#right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

#radarChart {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Garante que nada exceda os limites */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxplot {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Garante que nada exceda os limites */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar a {
    float: left;
    color: white;
    display: block;
    text-decoration: none;
    padding: 8px 8px;
    margin: 0 15px;
    font-size: 13px;
}

.navbar a:hover {
    text-decoration: underline;
}
  
.navbar a.active {
    background-color: #8e8e90; /* Cor de destaque */
    color: white;
}

#histogram-chart svg {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.axis text {
    font-size: 12px;
    fill: #333;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect:hover {
    fill: #4682b4; /* Cor ao passar o mouse */
}

#tooltip {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#filters {
    display:flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#filters label {
    font-size: 14px;
    margin-right: 5px;
}

#filters select, #filters input {
    padding: 5px;
    font-size: 14px;
}

#reset-filters {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    margin-left: 260px;
    font-size: 14px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    transition: background-color 0.3s, transform 0.2s; /* Animação suave */
  }

#reset-filters:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento do botão */
}

#reset-filters:active {
    background-color: #003d7a; /* Azul mais escuro ao clicar */
    transform: scale(0.95); /* Leve redução ao clicar */
}