body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    color: #333;
}

#bar-chart, #scatterplot-chart, #boxplot-chart, #radar-chart {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#histogram-chart svg {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.axis text {
    font-size: 12px;
    fill: #333;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect:hover {
    fill: #4682b4; /* Cor ao passar o mouse */
}
